#!/bin/bash
name=example
version=1.0
src=git+https://github.com/$name/$name.git
dependencies=base/kernel base/bash base/dialog

prepare() {
    cd $name
    git checkout $version
    ./autogen.sh
    ./configure
}

build() {
    make
}

install() {
    sudo make install
}